body {
  text-rendering: optimizeLegibility;
}
header {
  border-bottom: solid 1px #c6c6c6;
}

hr {
  margin: 0;

  border-top: none;
  border-bottom: solid 1px #c6c6c6;
}

.logo {
  padding-top: 1rem;
  padding-bottom: 1rem;

  width: 138px;
  height: 10px;
  object-fit: contain;
}

@media only screen and (min-width: 48rem) {
  .logo {
    padding-top: 1.5rem;
    padding-bottom: 1.25rem;
  }
}

.logo-container {
  display: flex;
  justify-content: center;
}

.product-title {
  margin: 0;
  padding: 1rem;

  font-family: Lora;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #111;
}

@media only screen and (min-width: 48rem) {
  .product-title {
    padding: 1.5rem .5rem 1.5rem .5rem;
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
}

.product-images-container {
  margin-left: -1rem;
  margin-right: -1rem;

  display: flex;
  overflow-x: scroll;
}

@media only screen and (min-width: 48rem) {
  .product-images-container {
    margin-left: -.5rem;
    margin-right: 0;
  }
}

.product-image {
  width: 300px;
  height: 400px;
}

@media screen and (min-width: 48rem) {
  .product-image {
    min-width: 432px;
    max-width: 100%;
    width: 100%;
    height: auto;
  }
}

.product-info-container {
  margin-top: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

@media only screen and (min-width: 48rem) {
  .product-info-container {
    margin-top: 0;
    margin-right: -.5rem;
  }
}

.product-price {
  margin: 0;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #111;
}

.product-id {
  margin: 0;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: .75rem;
  line-height: 1rem;
  color: #171717;
}

.product-color-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

@media only screen and (min-width: 48rem) {
  .product-color-container {
    margin-right: -.5rem;
  }
}

.product-color-current-selection-name {
  margin: 0;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1rem;
}

.product-color-pallete {
  padding-top: 1rem;
  padding-bottom: 2rem;

  display: flex;
}

.product-color-pallete-selector {
  margin-right: 1rem;

  width: 40px;
  height: 40px;

  border-radius: 50%;
}

.color-selector-active {
  border: solid 1px #232122;
}

.color-selector-inactive {
  border: solid 1px transparent;
}

.color-selector-black {
  background-color: #232122;
}

.color-selector-honey {
  background-color: #cfa880;
}

.product-actions {
  margin-top: 2rem;
  margin-bottom: 3rem;

  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 48rem) {
  .product-actions {
    margin-right: -.5rem;
  }
}

.product-size-select {
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: .75rem;
  line-height: .875rem;
  text-align: center;
  color: #fff;

  border-radius: 2px;
  background-color: #171717;
  border: solid 1px #171717;
}

.product-find {
  margin-bottom: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: .75rem;
  line-height: .875rem;
  text-align: center;
  color: #171717;

  border-radius: 2px;
  background-color: transparent;
  border: solid 1px #999;
}

.product-size-help {
  padding: 0;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: .75rem;
  line-height: 1rem;
  text-align: left;
  color: #171717;

  background-color: transparent;
  border: none;
}

.product-description-pane {
  padding-top: 2rem;

  border-top: solid 1px #c6c6c6;
}

@media only screen and (min-width: 48rem) {
  .product-description-pane {
    margin-top: 1.5rem;

    border: none;
  }
}

.product-description-header {
  margin-bottom: 2rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (min-width: 48rem) {
  .product-description-header {
    margin-bottom: 1rem;

    border-top: none;
  }
}

.product-description-header-name-container {
  padding: 0;
  margin-left: 1rem;

  background-color: transparent;
  border: none;
}

@media only screen and (min-width: 48rem) {
  .product-description-header-name-container {
    margin-left: .5rem;
  }
}

.product-description-header-name {
  margin: 0;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 500;
  text-align: left;
  color: #171717;
}

.description-pane-opened:after {
  margin-right: 1rem;

  content: url(../images/triangle.svg);
  transform: rotate(180deg);
}

.description-pane-closed:after {
  margin-right: 1rem;

  content: url(../images/triangle.svg);
}

@media only screen and (min-width: 48rem) {
  .description-pane-opened:after {
    display: none;
  }
  .description-pane-closed:after {
    display: none;
  }
}

.product-description-pane-entry {
  margin: 0 1rem 2rem 1rem;

  font-family: Lora;
  font-size: .875rem;
  line-height: 1.5rem;
  color: #171717;
}

@media only screen and (min-width: 48rem) {
  .product-description-pane-entry {
    margin-left: .5rem;
    margin-right: .5rem;
    margin-bottom: 1.5rem;
  }
}

.product-description-pane-entry p,
.product-description-pane-entry ul,
.product-description-pane-entry li {
  margin: 0;
  padding: 0;

  list-style: none;
}

.product-accordeon-pane-shipping-and-returns {
  border-bottom: solid 1px #c6c6c6;
}

@media only screen and (min-width: 48rem) {
  .product-accordeon-pane-shipping-and-returns {
    display: none;
  }
}

.delivery-container {
  margin-left: -.5rem;
  margin-right: -.5rem;
}

.delivery-image {
  min-width: 432px;
  width: 100%;
  max-width: 100%;
  height: auto;

  vertical-align: middle;
  object-fit: contain;
}

@media only screen and (max-width: 47.99rem) {
  .hidden-xs {
    display: none;
  }
}

.delivery-header {
  margin: 0;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.1875rem;
  font-weight: 500;
  text-align: left;
  color: #171717;
}

.delivery-feature-name {
  margin-top: 1rem;
  margin-bottom: 0.25rem;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: .75rem;
  line-height: .875rem;
  font-weight: bold;
  text-align: left;
  color: #171717;
}

.delivery-feature-description {
  margin-top: 0;
  margin-bottom: 1.5rem;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: .75rem;
  line-height: 1rem;
  text-align: left;
  color: #171717;
}

.product-recommended-container {
  margin: 3rem 1rem 1rem 1rem;
}

@media only screen and (min-width: 48rem) {
  .product-recommended-container {
    margin: 1.5rem .5rem 2rem .5rem;
  }
}

.product-recommended-header {
  margin: 0;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1875rem;
  text-align: left;
  color: #171717;
}

.underlined {
  display: inline-block;
  padding-bottom: .5rem;
  margin-bottom: 1.5rem;

  border-bottom: solid 1px #171717;
}

@media only screen and (min-width: 48rem) {
  .underlined {
    margin-bottom: 1rem;
  }
}

.product-recommended-list {
  margin-left: -1.5rem;
  margin-right: -1.25rem;
}

@media only screen and (min-width: 48rem) {
  .product-recommended-list {
    margin-left: -1rem;
    margin-right: -1rem;
  }
}

.product-recommended-card {
  margin-bottom: 2rem;
  margin-right: .5rem;
  margin-left: .5rem;

  display: block;
  text-decoration: none;
}

@media only screen and (min-width: 48rem) {
  .product-recommended-card {
    margin-right: 0;
    margin-left: 0;
  }
}

.product-recommended-photo {
  min-width: 8.125rem;
  width: 100%;
  max-width: 100%;
  height: auto;

  vertical-align: middle;
}

.product-recommended-name {
  margin-top: .5rem;
  margin-bottom: 0;

  font-family: Lora;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1875rem;
  color: #171717;
}

.product-recommended-price {
  margin-top: .5rem;
  margin-bottom: 0;
  margin-left: 1px;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.17;
  color: #999;
}

.product-recommended-more-container {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 3rem;
}

.product-recommended-more-list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
}

.product-recommended-more-header {
  margin: 0;
  margin-bottom: 1.5rem;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1875rem;
  text-align: left;
  color: #171717;
}

@media only screen and (min-width: 48rem) {
  .hidden-md {
    display: none;
  }
}

.product-recommended-more-item {
  display: block;
  margin-bottom: 1rem;

  font-family: Lora;
  font-size: .875rem;
  font-style: italic;
  line-height: 1.0625rem;
  color: #171717;
  text-decoration: none;
}

footer {
  padding-top: 2rem;

  background-color: #f3f3f3;
}

.footer-info-container {
  margin-left: -.5rem;
}

.footer-info-header {
  margin-top: 0;
  margin-bottom: 1rem;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: .75rem;
  font-weight: bold;
  color: #171717;
}

.footer-info-link {
  display: block;
  margin-bottom: .75rem;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: .75rem;
  font-weight: 500;
  line-height: 1rem;
  color: #999;
  text-decoration: none;
}

.footer-buttons-container {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

@media only screen and (min-width: 48rem) {
  .footer-buttons-container {
    flex-direction: row;
    margin-top: 1.25rem;
    margin-left: .5rem;
    padding-bottom: 1rem;
  }
}

.footer-button {
  padding: 0;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
  align-self: left;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: .75rem;
  line-height: 1rem;
  color: #999;

  border-style: none;
  background-color: transparent;
}

.footer-shipping-country-select {
  padding: 0;
  margin-left: 1rem;
  margin-bottom: 1rem;
  align-self: left;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: .75rem;
  line-height: 1rem;
  color: #999;

  border-style: none;
  background-color: transparent;
}

.footer-language-select {
  padding: 0;
  margin-left: 1rem;
  margin-bottom: 1rem;
  align-self: left;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: .75rem;
  line-height: 1rem;
  color: #999;

  border-style: none;
  background-color: transparent;
}

.footer-help-header {
  margin: .5rem 0 1rem 0;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.1875rem;
  text-align: left;
  color: #171717;
}

.footer-contacts-info {
  margin-bottom: 2rem;

  font-family: Lora;
  font-size: .875rem;
  font-style: italic;
  line-height: 1.0625rem;
  text-align: left;
  color: #171717;

  text-decoration: none;
}

.footer-help {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 48rem) {
  .footer-help {
    display: none;
  }
}
