body {
  font-size: 16px;
  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.container-product-header {
  padding-top: 1rem;
  padding-bottom: 1rem;

  display: flex;
  justify-content: center;

  box-shadow: inset 0 -1px 0 0px #c6c6c6;
}

.container-product-title {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.product-title {
  margin: 0;

  font-family: Lora;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #111;
}

.container-product-images {
  display: flex;
  overflow-x: scroll;
}

.container-product-information {
  padding: 1rem 1rem 3rem 1rem;
}

.product-information {
  margin-bottom: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-information-price {
  margin: 0;

  display: inline-block;

  font-size: 1rem;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  line-height: 1.1875rem;
  color: #111111;
}

.product-information-id {
  margin: 0;

  display: inline-block;

  font-family: Raleway, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.875rem;
  color: #171717;
}

.product-information-colour {
  margin: 0;

  font-family: Raleway, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.875rem;
  color: #171717;
}

.product-information-colour-buttons {
  padding-top: 1rem;
  padding-bottom: 2rem;

  display: flex;
  border-bottom: 1px solid #c6c6c6;
}

.product-information-colour-button {
  padding: 20px;
  margin-right: 1rem;

  display: inline-block;

  border-radius: 50%;
  border: none;
}

.product-information-colour-button-active {
  box-shadow: inset 0 0 0 1px #232122;
}

.button-bg-black {
  background-color: #232122;
}

.button-bg-brown {
  background-color: #cfa880;
}

.product-information-buttons {
  margin-top: 2rem;

  display: flex;
  flex-direction: column;
}

.product-information-button-size {
  padding: 1rem;
  margin-bottom: 1rem;

  font-family: Raleway, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.875rem;
  color: #fff;

  background-color: #171717;
  border: none;
  border-radius: 2px;
}

.product-information-button-store {
  padding: 1rem;
  margin-bottom: 1.5rem;

  font-family: Raleway, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.875rem;
  color: #171717;

  background-color: #fff;
  border: none;
  box-shadow: inset 0 0 0 1px #999999;
}

.product-information-button-help {
  margin: 0;
  padding: 0;

  display: block;

  font-family: Raleway, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.875rem;
  color: #171717;

  border: none;
  background-color: #fff;
}

.container-product-description {
  margin: 0;

  border-bottom: 1px solid #c6c6c6;
}

.product-description-title-text {
  margin: 0;

  font-family: Raleway, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1875rem;
  color: #171717;
}

.product-description-title {
  padding: 2rem 1rem;

  display: flex;
  justify-content: space-between;

  border-top: 1px solid #c6c6c6;
}

.product-description-text {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  margin: 0;

  font-family: Lora, serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #171717;
}

.container-product-recommend {
  padding: 3rem 1rem 0 1rem;
}

.product-recommend-title {
  margin-top: 0;
  margin-bottom: 1.5rem;
  padding-bottom: .5rem;

  display: inline-block;

  font-family: Raleway, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1875rem;
  color: #171717;

  border-bottom: 1px solid #171717;
}

.product-recommend {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-recommend-images {
  flex-basis: 8.125rem;
  margin-bottom: 2rem;
}

.product-recommend-image {
  display: block;
  width: 130px;
  height: 174px;
}

.product-recommend-image-name {
  margin-bottom: .5rem;
  margin-top: .5rem;

  font-family: Lora, serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.19;
  color: #171717;
}

.product-recommend-image-price {
  margin: 0;

  font-family: Raleway, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.17;
  color: #999999;
}

.container-product-more {
  padding-left: 1rem;
  margin-top: 1rem;
}

.product-more-title {
  padding-bottom: .5rem;
  margin-bottom: 1.5rem;
  margin-top: 0;

  display: inline-block;

  font-family: Raleway, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1875rem;
  color: #171717;

  border-bottom: 1px solid #111111;
}

.product-more-link {
  display: block;
  margin-bottom: 1rem;

  font-family: Lora;
  font-style: italic;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 17px;
  color: #171717;
  text-decoration: none;
}

.container-footer {
  padding: 2rem 1rem;
  margin-top: 4rem;

  background-color: #f3f3f3;
}

.footer-button {
  margin-bottom: 1rem;
  border: none;
  padding: 0;

  display: block;

  font-family: Raleway, serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.17;
  color: #999999;

  background-color: #f3f3f3;
}

.footer-title {
  margin-top: 1.5rem;
  margin-bottom: 1rem;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #171717;
  text-align: center;
}

.footer-link {
  display: block;

  font-family: Lora, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: #171717;
  text-align: center;
  text-decoration: none;
}
