html {
  font-family: 'Lora', serif;
  font-size: 1rem;
  color: #111111;
}

header {
  /* Positioning */
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* Typography */
  text-align: center;
  /* Visual */
  border-bottom: 1px solid #c6c6c6;
}

.product-header {
  /* Positioning */
  margin-top: 1rem;
  margin-left: 1rem;
  /* Typography */
  font-family: Lora;
  font-size: 20px;
  font-weight: 400;
}

.container-product-images {
  /* Positioning */
  margin-top: 1rem;
  /* Box-model */
  display: flex;
  overflow-x: scroll;
}

.container-product-price {
  /* Box-model */
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.product-price {
  /* Positioning */
  margin-left: 1rem;
  margin-top: 1.5rem;
  /* Typography */
  line-height: 1.19;
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #111111;
}

.product-id {
  /* Positioning */
  margin-top: 1rem;
  margin-right: 1rem;
  /* Typography */
  font-family: Raleway;
  font-size: 12px;
  color: #171717;
}

.product-color-name {
  /* Positioning */
  margin-top: 0.2rem;
  margin-left: 1rem;
  /* Typography */
  font-family: Raleway;
  font-size: 12px;
}

.product-color-buttons {
  /* Positioning */
  margin-left: 1rem;
}

.product-color-buttons button {
  /* Positioning */
  margin-right: 1rem;
  /* Box-model */
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  /* Visual */
  border: none;
  border-radius: 50%;
}

.product-color-buttons button.active {
  border: solid 1px #232122;
}

.product-color-buttons button.brown {
  background-color: #232122;
}

.product-color-buttons button.honey {
  background-color: #cfa880;
}

.product-divider {
  /* Positioning */
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  /* Visual */
  border: 1px solid #c6c6c6;
}

.product-props-buttons {
  /* Box-model */
  display: flex;
  flex-direction: column;
}

.product-description-button-size {
  /* Positioning */
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  /* Typography */
  font-family: Raleway;
  font-size: 12px;
  line-height: 2rem;
  color: #ffffff;
  /* Visual */
  background-color: #171717;
  border: solid 1px #171717;
  border-radius: 2px;
}

.product-description-button-store {
  /* Positioning */
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  /* Typography */
  font-family: Raleway;
  font-size: 12px;
  line-height: 2rem;
  color: #171717;
  text-align: center;
  /* Visual */
  background-color: #fff;
  border: solid 1px #999999;
  border-radius: 2px;
}

.product-description-button-help {
  /* Positioning */
  margin-top: 1.5rem;
  margin-left: 0.5rem;
  /* Box-model */
  display: flex;
  justify-content: flex-start;
  /* Typography */
  font-family: Raleway;
  font-size: 12px;
  color: #171717;
}

.product-description-end {
  /* Positioning */
  margin-top: 3rem;
  margin-bottom: 1rem;
  /* Visual */
  border: 1px solid #c6c6c6;
}

.product-info {
  /* Box-model */
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.product-info-title-button {
  /* Box-model */
  display: flex;
  justify-content: flex-start;
}

.product-info-title-desc {
  /* Positioning */
  margin-left: 0.5rem;
  /* Typography */
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #171717;
}

.product-info-arrow {
  margin-right: 1rem;
}

.product-info-text {
  /* Positioning */
  margin: 1rem 1rem;
  /* Box-model */
  display: flex;
  justify-content: center;
  /* Typography */
  font-family: Lora;
  font-size: 14px;
  line-height: 1.71;
  color: #171717;
}

.product-info-title-ship {
  /* Positioning */
  margin-left: 1rem;
  /* Typography */
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #171717;
}

.product-info-end-desc {
  /* Positioning */
  margin-top: 2rem;
  margin-bottom: 1rem;
  /* Visual */
  border: 1px solid #c6c6c6;
}

.product-info-end-ship {
  /* Positioning */
  margin-top: 1rem;
  margin-bottom: 2rem;
  /* Visual */
  border: 1px solid #c6c6c6;
}

.product-recommend-title {
  /* Positioning */
  margin-bottom: 1.5rem;
  padding-bottom: .5rem;
  margin-left: 1rem;
  margin-right: 10.5625rem;
  /* Typography */
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  color: #171717;
  /* Visual */
  border-bottom: 1px solid #171717;
}

.product-recommend-images-row-1 {
  /* Box-model */
  display: flex;
  justify-content: space-between;
}

.product-recommend-images-row-2 {
  /* Box-model */
  display: flex;
  justify-content: space-between;
}

.product-recommend-image {
  /* Positioning */
  margin-left: 1rem;
  padding-right: 0.75rem;
  /* Box-model */
  width: 130px;
  height: 174px;
}

.product-recommend-image-name {
  /* Positioning */
  margin-top: 0.25rem;
  margin-left: 1rem;
  padding-right: 1rem;
  /* Typography */
  font-family: Lora;
  font-size: 16px;
  line-height: 1.19;
  color: #171717;
}

.product-recommend-image-price {
  /* Positioning */
  margin-left: 1rem;
  margin-bottom: 2rem;
  /* Typography */
  font-family: Raleway, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  color: #999999;
}

.container-product-more {
  margin-left: 1rem;
}

.product-more-title {
  /* Positioning */
  margin-bottom: 1.5rem;
  padding-bottom: .5rem;
  margin-left: 1rem;
  margin-right: 11.5rem;
  /* Typography */
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  color: #171717;
  /* Visual */
  border-bottom: 1px solid #171717;
}

.product-more-links {
  /* Positioning */
  display: flex;
  flex-flow: wrap;
  padding-left: 1rem;
}

.product-more-link {
  /* Positioning */
  margin-bottom: 1rem;
  /* Typography */
  font-family: Lora;
  font-style: italic;
  font-size: 14px;
  text-decoration: none;
  line-height: 1.21;
  color: #171717;
}

.main-footer {
  /* Positioning */
  padding: 2rem 1rem;
  margin-top: 3rem;
  /* Visual */
  background-color: #f3f3f3;
}

.footer-button {
  /* Positioning */
  margin-bottom: 1rem;
  border: none;
  padding: 0;
  /* Typography */
  font-family: Raleway;
  font-size: 0.75rem;
  color: #999999;
  /* Visual */
  background-color: #f3f3f3;
}

.footer-title {
  /* Box-model */
  display: flex;
  justify-content: center;
  /* Typography */
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.19;
  color: #171717;
}

.footer-link {
  /* Box-model */
  display: flex;
  justify-content: center;
  /* Typography */
  font-family: Lora;
  font-size: 14px;
  font-style: italic;
  text-decoration: none;
  font-weight: 400;
  line-height: 1.21;
  color: #171717;
}
